@import "colors";
@import "loading";

html,
body,
main,
#_next {
  background-color: $white;
  color: $black;
}

main {
  max-width: 680px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
  font-weight: 100;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Avenir Next, Avenir, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  color: $black;
  font-size: 18px;
}

blockquote {
  position: relative;
  margin: 3rem 2rem;
  &::before,
  &::after {
    display: block;
    font-size: 10rem;
    position: absolute;
    color: transparentize($primary, 0.8);
  }
  &::before {
    content: "“";
    top: -4rem;
    left: -2rem;
  }
  &::after {
    content: "”";
    bottom: -8rem;
    right: -2rem;
  }
}

a {
  color: $primary;
}

a:hover,
a:focus {
  color: $white;
  background-color: $primary;
  border-radius: 1px;
  outline: none;
}

pre {
  border: 1px solid transparentize($black, 0.8);
  border-radius: 2px;
}

html.dark {
  background-color: $black;
  color: $off-white;

  body,
  main,
  #_next {
    background-color: $black;
    color: $off-white;
  }

  a {
    color: $primary-dark;
  }

  a:hover,
  a:focus {
    color: $black;
    background-color: $primary-dark;
  }

  blockquote {
    &::before,
    &::after {
      color: transparentize($primary-dark, 0.8);
    }
  }
}
