.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}
.title,
.description {
  display: block;
  text-align: center;
}
.description {
  font-size: 18px;
}