.footer {
  display: grid;
  grid-template-columns: auto 1fr;
  border-top: solid 1px var(--c-gray);
}

.avatarWrapper {
  grid-row: 1 / 3;
  padding: 20px;
}
.avatar {
  border-radius: 50%;
}
.heading {
  grid-row: 1 / 2;
  margin-bottom: 0;
}
.blurb {
  grid-row: 2 / 3;
  font-size: 0.9rem;
}
