.posts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.post {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 20px 20px;
  box-sizing: border-box;
  text-decoration: none;
}
.article {
  width: 320px;
  margin: 20px 0;
  border: 1px solid var(--c-gray);
  box-sizing: border-box;
}
.text {
  color: var(--text-color);
}
.post:hover .text,
.post:focus .text {
  color: var(--text-color--focus);
}
.time {
  composes: text;
  margin: auto 0 0;
}
.footer {
  display: flex;
}

.next {
  margin: 0 0 0 auto;
}
.prev {
  margin: 0 auto 0 0;
}
